<!-- 
Christopher Ermel
200250446
6/03/2020
-->

<%- include ('../partials/header') %>

<div class="container my-5">
    <header class="jumbotron">
        <h1>All About Me!</h1>
    </header>

    <div>
        <p>This is about Christopher Ermel</p>
    </div>
</div>

<%- include ('../partials/footer') %>